*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.grid__container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: grey;
}

.sidebar__container {
    height: 70%;
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    padding: 0 2rem;
}

li {
    padding: .35rem 0;
}

.sidebar__primary {
    grid-row: 2;
}

.sidebar__secondary {
    grid-row: 3;
}

.sidebar__primary,
.sidebar__secondary {
    font-size: 1.5em;
}

.header {
    grid-column: 2 / -1;
    grid-row: 1;
    border: 4px solid blue;
}

.header__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

.searchbar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: peachpuff;
}

.profile__nav {
    grid-column: 2 / 3;
    background-color: pink;
}

.user__info {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: limegreen;
}

.buttons {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: lightblue;
}

.main {
    border: 4px solid purple;
}

.main__container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

.project__container {
    grid-column: 1;
    grid-row: 1 / -1;
    background-color: wheat;
}

.announcement__container {
    grid-column: 2;
    grid-row: 1;
    background-color: paleturquoise;
}

.logo__container {
    display: flex;
    grid-row: 1;
    font-size: 2.25rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}